version: '3'

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    labels:
      - "traefik.enabled=false"
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 3

  notifications-api:
    build: Notificacoes/notifications-api
    ports:
      - "3002:3002"
    depends_on:
      rabbitmq:
        condition: service_healthy

  api-gateway:
    image: traefik:v3.0
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    labels:
      - "traefik.enabled=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  whoami:
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Path(`/whoami`)"
  conta-corrente-db:
    image: mysql:8.0.35
    command: mysqld --default-authentication-plugin=mysql_native_password
    labels:
      - "traefik.enabled=false"
    restart: always
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_USER: docker
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: contacorrente
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3308:3306
    expose:
      - 3306
  contacorrente:
    restart: always
    build: ./ContaCorrente/ContaCorrente
    working_dir: /ContaCorrente
    labels:
      - "traefik.http.routers.contacorrente.rule=Path(`/conta-corrente`)"
    environment:
      TZ: America/Sao_Paulo
      SPRING.DATASOURCE.URL: jdbc:mysql://conta-corrente-db:3306/contacorrente?useTimezone=true&serverTimezone=UTC
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: admin123
    ports:
      - 3003:3003
    command: mnv spring-boot:run
    depends_on:
      - conta-corrente-db

  pagamento:
    build: ./Pagamento
    ports:
      - "3004:3004"
    volumes:
      - ./Pagamento:/app
      - /app/__pycache__
