version: '3'

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    labels:
      - "traefik.enabled=false"
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 3

  notifications-api:
    build: Notificacoes/notifications-api
    ports:
      - "3002:3002"
    depends_on:
      rabbitmq:
        condition: service_healthy

  api-gateway:
    image: traefik:v3.0
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    labels:
      - "traefik.enabled=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  whoami:
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Path(`/whoami`)"
  conta-corrente-db:
    image: mysql:8.0.35
    command: mysqld --default-authentication-plugin=mysql_native_password
    labels:
      - "traefik.enabled=false"
    restart: always
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_USER: docker
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: contacorrente
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3308:3306
    expose:
      - 3306
  contacorrente:
    restart: always
    build: ./ContaCorrente/ContaCorrente
    labels:
      - "traefik.http.routers.contacorrente.rule=Path(`/conta-corrente`)"
    environment:
      TZ: America/Sao_Paulo
      SPRING.DATASOURCE.URL: jdbc:mysql://conta-corrente-db:3306/contacorrente?useTimezone=true&serverTimezone=UTC
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: admin123
    ports:
      - 3003:3003
    command: mnv spring-boot:run
    depends_on:
      - conta-corrente-db
  db-investiment:
    container_name: db-investiment
    image: mysql:8.1.0
    restart: always
    env_file:
      - Investimento/api/.env
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_HOST: '%'
      MYSQL_TCP_PORT: 3306
    ports:
      - 3306:3306
    command: ["--event-scheduler=ON"]
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 30s
      retries: 10
  api-investiment:
    build: ./Investimento/
    container_name: api-investiment
    restart: always
    ports:
      - 3006:8080
    depends_on:
      db-investiment:
        condition: service_healthy
  backoffice-postgres:
    image: postgres:16-alpine
    restart: always
    container_name: backoffice_db
    volumes:
      - backoffice_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    command: "postgres -c 'max_connections=500'"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Dev!123
      - POSTGRES_PORT=5432
  backoffice-api:
    build: ./Backoffice/
    container_name: backoffice_api
    tty: true
    stdin_open: true
    depends_on:
      - backoffice-postgres
    ports:
      - '3007:3007'

volumes:
  emprestimo_logs:
  emprestimo_db_data:
  emprestimo_redis_data:
  backoffice_data: {}

  pagamento:
    build: ./Pagamento
    ports:
      - "3004:3004"
    volumes:
      - ./Pagamento:/app
      - /app/__pycache__
